
  <!-- Navigation
      ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <img class="logoagencia" src="assets/img/agencialogo.png" alt="">
        </a> </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#features" class="page-scroll">Features</a></li>
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#services" class="page-scroll">Services</a></li>
          <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
          <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
          <li><a href="#team" class="page-scroll">Team</a></li>
          <li><a href="#contact" class="page-scroll">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1> PANDA DITEC<span></span></h1>
              <p>«Tu trabajo va a llenar una gran parte de tu vida, y la única manera de estar realmente satisfecho es hacer lo que crees que es un gran trabajo. Y la única manera de hacer un gran trabajo es amar lo que haces». – Steve Jobs</p>
              <a href="#features" class="btn btn-custom btn-lg page-scroll">Leer Mas</a> </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title">
        <h2>Features</h2>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
          <h3>Integración de Mensajeria</h3>
          <p>Automatización de mensajeria integrando las apis de Whatsapp y Telegram para un facil manejo del negocio.</p>
        </div>
        <div class="col-xs-6 col-md-3"> <i class="fa fa-bullhorn"></i>
          <h3>Difusión de contenido</h3>
          <p>Implementación y manejo de redes sociales, creación de catalogos digitales, envio de email marketing.</p>
        </div>
        <div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>
          <h3>Capacitaciones constantes</h3>
          <p>Constante capacitación al personal con el fin de implementar un mejor desarrollo tanto personal como laboral.</p>
        </div>
        <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
          <h3>Marketing</h3>
          <p>Presencia en redes sociales, canales y apps.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6"> <img src="assets/img/about.jpg" class="img-responsive" alt=""> </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Nosotros</h2>
            <p>Somo una familia integrada por personas con altos conocimientos en areas de Desarrollo de Software,
              Publicidad, Manejo de redes Sociales, Diseño, Analisis de riesgos, Seguridad Informatica,
              Soporte en diversos campos de tecnologia,  personas profesionales
              con la motivación necesaria para poder brindar el mejor servicio.
              </p>
            <h3>Porque elegirnos?</h3>
            <div class="list-style">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Automatización</li>
                  <li>Innovación</li>
                  <li>Haremos de tu emprendimiento el mejor.</li>
                  <li>Entusiasmo por nuestros clientes.</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>Calidad de servicios y producto</li>
                  <li>Personal Profesional</li>
                  <li>Integridad</li>
                  <li>Diciplina</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Section -->
  <div id="services" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Nuestros Sevicios</h2>
        <p>Hoy es importante estar presente, ser relevante y añadir valor.</p>
      </div>
      <div class="row">
        <div class="col-md-4"> <i class="fa fa-file-code-o"></i>
          <div class="service-desc">
            <h3>Desarrollo de sistemas y aplicaciones moviles.</h3>
            <p>Desarrollo de sistemas administrativos, inventarios, controles de acceso  y aplicaciones moviles
              implementando las mejores técnologias y mejores practicas actuales.
            </p>
          </div>
        </div>
        <div class="col-md-4"> <i class="fa fa-cloud-download "></i>
          <div class="service-desc">
            <h3>Asesoria en seguridad informatica</h3>
            <p>Asesorar a los clientes para el resguardo de sus datos, privacidad, integridad de la información
              que posee la empresa, capacitación a personal sobre las vulnerabilidades que nos pueden suceder a diario
              y que puede afectar nuestra empresa o emprendimiento.
            </p>
          </div>
        </div>
        <div class="col-md-4"> <i class="fa fa-envelope-o"></i>
          <div class="service-desc">
            <h3>Correos zimbra</h3>
            <p>Implementación de servidores para correos corporativos Zimbra, mantenimiento y administración,
              sin limite de cuentas activas.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"> <i class="fa fa-wrench"></i>
          <div class="service-desc">
            <h3>Soporte Técnico</h3>
            <p>Mantenimiento preventido al equipo institucional para su mejor rendimiento,
              asesorias en compras de equipos adecauados para los usuarios con el fin de lograr un optimo desempeño.
            </p>
          </div>
        </div>
        <div class="col-md-4"> <i class="fa fa-newspaper-o"></i>
          <div class="service-desc">
            <h3>Publicidad y Marketing digital</h3>
            <p>Manejo de Publicidad en redes sociales, fotografias, campañas publicitarias, analisis estrategicos.</p>
          </div>
        </div>
        <div class="col-md-4"> <i class="fa fa-pie-chart"></i>
          <div class="service-desc">
            <h3>Analisis de Riesgos</h3>
            <p>Asesoramiento para evitar eventos negativos en los cuales pueda perjudicar nuestro
              emprendimiento o empresa con el cual se podra tener un plan de contigencia a aplicar.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery Section -->
  <div id="portfolio" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Galeria</h2>
        <p>Nuestro trabajo nos avala, como la mejor opcion para ti.</p>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/01-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Lorem Ipsum</h4>
                </div>
                <img src="assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Adipiscing Elit</h4>
                </div>
                <img src="assets/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/03-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Lorem Ipsum</h4>
                </div>
                <img src="assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/04-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Lorem Ipsum</h4>
                </div>
                <img src="assets/img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/05-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Adipiscing Elit</h4>
                </div>
                <img src="assets/img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/06-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Dolor Sit</h4>
                </div>
                <img src="assets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/07-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Dolor Sit</h4>
                </div>
                <img src="assets/img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Lorem Ipsum</h4>
                </div>
                <img src="assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/portfolio/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Adipiscing Elit</h4>
                </div>
                <img src="assets/img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials Section -->
  <div id="testimonials">
    <div class="container">
      <div class="section-title text-center">
        <h2>What our clients say</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/01.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
              <div class="testimonial-meta"> - John Doe </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/02.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
              <div class="testimonial-meta"> - Johnathan Doe </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/03.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
              <div class="testimonial-meta"> - John Doe </div>
            </div>
          </div>
        </div>
        <div class="row"> </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/04.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
              <div class="testimonial-meta"> - Johnathan Doe </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/05.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
              <div class="testimonial-meta"> - John Doe </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="testimonial-image"> <img src="assets/img/testimonials/06.jpg" alt=""> </div>
            <div class="testimonial-content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
              <div class="testimonial-meta"> - Johnathan Doe </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section -->
  <div id="team" class="text-center">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>Nuestro Team</h2>
        <p>Personal altamente capacitado para brindarte la mejor asesoria comercial y técnologica.</p>
      </div>
      <div id="row">
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="assets/img/team/01.jpg"  alt="..." class="team-img">
            <div class="caption">
              <h4>Josué Vásquez</h4>
              <p>Desarollador</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="assets/img/team/02.jpg" alt="..." class="team-img">
            <div class="caption">
              <h4>David Santos</h4>
              <p>Diseñador</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="assets/img/team/03.jpg" alt="..." class="team-img">
            <div class="caption">
              <h4>Jose Osoy</h4>
              <p>Técnico en soporte</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail"> <img src="assets/img/team/04.jpg" alt="..." class="team-img">
            <div class="caption">
              <h4>Karen Doe</h4>
              <p>Project Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Section -->
  <div id="contact">
    <div class="container">
      <div class="col-md-8">
        <div class="row">
          <div class="section-title">
            <!-- <h2>Contactanos</h2>
            <p>Complete el siguiente formulario para enviarnos un correo electrónico y nos pondremos en contacto con usted lo antes posible.</p> -->
          </div>
          <!-- <form (ngSubmit)="enviar()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="nombre" name="nombre" class="form-control"  [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" placeholder="Name" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="correo" id="correo" class="form-control"  [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" placeholder="Email" autocomplete="off" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">

              <textarea name="texto" id="texto"  [(ngModel)]="texto" [ngModelOptions]="{standalone: true}" class="form-control" rows="4"  autocomplete="off" placeholder="Message" required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-custom btn-lg">Enviar Mensaje</button>
          </form> -->
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 contact-info">
        <div class="contact-item">
          <h3>Contact Info</h3>
          <p><span><i class="fa fa-map-marker"></i>Dirección</span> 18 calle zona 12,<br>
            Guatemala</p>
        </div>
        <div class="contact-item">
          <a href="tel:+50230510756" style="color:white;" target="_blank">
          <p>
            <span>
              <i class="fa fa-phone"></i> Phone</span> +502 30510756</p></a>
        </div>
        <div class="contact-item">
          <a  href="mailto:advinjosuev899@gmail.com" style="color:white;" target="_blank">
          <p >
            <span>
              <i class="fa fa-envelope-o"></i> Email</span>
             advinjosuev899@gmail.com </p></a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" target="_blank"></i></a></li>
              <li><a href="https://github.com/Josue19688"  target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://t.me/+50230510756" target="_blank"><img src="assets/img/telegrama.png" style="max-width: 40px;"></a></li>
              <li><a href="https://wa.me/+50230510756" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
